:root {
    background-color: rgb(135, 206, 235);
}

p:first-of-type {
    color: white;
    background-color: black;
}

p:nth-of-type(2) {
    color: initial; /* This keeps it as the default color */
}

p:nth-of-type(4) {
    color: red;
}

li {
    background-color: gray;
    width: 50%;
    padding: 10px;
}

li:nth-child(odd) {
    background-color: white;
}

li:first-child, li:last-child {
    font-size: 22px;
}

li:nth-last-child(3) {
    background-color: pink;
}