/*  your css code here. If applicable */
:root{
	background-color:rgb(135,206,235);
}

p:first-of-type{
	color:white;
	background-color:black;
}

p:nth-of-type(2){
	color:initial;
}

p:last-of-type{
	color:red;
}

li{
	background-color:gray;
	width:50%;
	padding:10px;
}

li:nth-child(odd){
	background-color:white;
}

li:nth-first-child,li:nth-last-child{
	font-size:22px;
}

li:nth-last-child(3){
	background-color:pink;
}


